[Desktop Entry]
Name=freeopennet browser
Comment=Add a freeopen.net on your desktop.
Type=Service
Icon=applications-internet
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=EQuilibrium
X-KDE-PluginInfo-Email=equilibrium@barnak.co.rs
X-KDE-PluginInfo-License=GPL-2.0+
X-KDE-PluginInfo-Name=org.kde.plasma.freeopennet
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Category=Online Services
X-Plasma-StandAloneApp=true
